<table class="table movietable">
    <tr>
        <td><h3>Featured Movies</h3></td>
        <td></td>
    </tr>
    <tr ng-repeat="movie in movies">
        <td>{{movie.name}}</td>
        <td>
            <a class="btn btn-primary" ui-sref="viewMovie({id:movie.movieId})">View</a>
            <a class="btn btn-danger"  ng-click="deleteMovie(movie)">Delete</a>
             <!-- <a class="btn btn-danger" ng-click="updateMovie(movie)">Update</a> -->
            
        </td>
    </tr>
</table>